.App {
  text-align: center;
  padding: 20px;
  background-color: #130124;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: #7851A9;
  font-family: 'Pacifico';
  font-size: 50px;
  margin-bottom: 10px;
}

.button {
  color: #7851A9;
  font-family: 'Pacifico';
  font-size: 25px;
}

.card-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  width: 100%;
  height: 600px; /* Adjust the height as needed */
  min-height: 100vh; /* Ensures the entire viewport height is covered */

}

.card {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d0069; /* Adjust the background color as needed */
}

.front, .back {
  width: 90px;
  height: 90px;
  object-fit: contain;
}


.back {
  display: none;
}

.card:hover .back {
  display: block;
}

.turns {
  color: white;
  font-family: 'Pacifico';font-size: 22px;
}


.anuradha {
  color: rgb(181, 142, 225);
  font-family: 'Pacifico';font-size: 20px;
}
